@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: "Mona Sans";
    src:
        url('Mona-Sans.woff2') format('woff2 supports variations'),
        url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    font-family: sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    padding-top: 1px;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

nav {
    font-family: sans-serif;
    height: 7vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.9vw 3vw;
    position: relative;
}

.nav1 {
    display: flex;
    height: fit-content;
    width: 35%;
    justify-content: space-between;
    font-size: 0.7rem;
    /* background-color: red; */
}

.nav2 {
    /* background-color: red; */
    position: absolute;
    bottom: 33%;
    left: 46%;
}

.nav3 {
    width: 30%;
    display: flex;
    height: 3.34vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30%;
    right: 4%;
    gap: 1vw;

}

.nav3 .login {
    background-color: #fff;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 0.8rem;

}

.nav3 input {
    background: #f4f5fb;
    border: none;
    padding: 12px 20px;
    border-radius: 40px;
    height: 100%;
    width: 60%;
}

.nav3 input:focus {
    outline: none
}

.nav3 input::placeholder {
    color: #8e8d98;
}

/* 
.hidden-one{

    background: #000;
    height: 0px;
    position: absolute;
    width: 220px;
    top: 85%;
    border-radius: 20px;
    display: flex;
    padding-left: 20px;
    justify-content: center;
    flex-direction: column;
    color: white;
} */
/* .one-up,.one-down,.two-up,.two-down,.two-middle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

} */
/* .hidden-two{
    background: #000;
    height: 0px;
    position: absolute;
    width: 270px;
    top: 85%;
    left: 20%;
    border-radius: 20px;
    display: flex;
padding-left: 20px;
    justify-content: center;
    flex-direction: column;
    color: white;
} */

.signup {
    height: 102%;
    font-weight: bolder;
    padding: 0 1.5vw;
    background-color: black;
    color: white;
    border-radius: 40px;
    border: none;
}

/* 
.first-content {
    margin-top: 3.2vw;
    height: 35vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    align-items: center;
}

.first-content h1 {
    font-family: "Source Serif 4";
    font-size: 4.4vw;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 2vw;
    font-weight: 500;

}

.first-content h5 {
    text-align: center;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 1.8;
}

.first-content input {
    margin-top: 4.5vw;
    width: 40%;
    height: 4vw;
    border: 1px solid #e7e7e9;
    border-radius: 40px;
    padding: 0 3vw;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in;
}

.first-content input::placeholder {
    color: #cacacf;

}

.first-content input:hover {
    box-shadow: 0 0 10px #fa9be8af;
}

.first-content input:focus {
    outline: 1px solid #f8c1f0;
    box-shadow: 0 0 10px #fa9be8af;
}

.trends{
    margin-top: 3vw;
    width: 50%;
    font-weight: 300;
    background-color: red;
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
    align-items: center;
}

.trends p{
    border: 1px solid #e7e7e9;

padding: 10px 20px;
    border-radius: 22px;
} */
.container-upper {
    padding-top: 5vw;

}

.text-content {
    display: flex;
    justify-content: center;
    height: 27vw;

}

.text-content .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    text-align: center;
}

.text-content h2:first-child {
    background-color: transparent;
    animation: color-change 32s infinite linear;
    width: fit-content;
    font-size: 1rem;
    padding: 10px 16px;
    text-align: center;
    border-radius: 35px;
}


.text-content h1 {
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-family: "Source Serif 4";
    font-weight: 500;
    line-height: 4.5rem;
    width: 100%;
    font-size: 5rem;

}

.center .secondheading {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
}

.get-started {
    margin-top: 2rem;
    height: 3.5rem;
    font-weight: bolder;
    padding: 0 1.75vw;
    background-color: black;
    color: white;
    border-radius: 40px;
    border: none;
}

@keyframes color-change {


    0% {
        background-color: #ffda79;
    }

    25% {
        background-color: #ffabe7;
    }

    50% {
        background-color: #d2bcf3;
    }

    75% {
        background-color: #edf3d8;
    }

    100% {
        background-color: #ffda79;
    }

}

.image-content {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    padding: 4rem 2rem;

}

.image,
.video {
    display: flex;
    position: relative;
    height: 100%;
    width: 275px;
    justify-content: center;
    align-items: center;
    animation: moving 10s linear infinite;
}

.image-content img,
.image-content video {
    object-fit: cover;
    flex-wrap: nowrap;
    border-radius: 22px;
    height: 340px;
    width: 275px;
}

.image-content .image .info,
.image-content .video .info {
    height: 95%;
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}

.image-content .image .info span,
.image-content .video .info span {
    font-weight: 900;
    color: white;
    font-size: 0.9rem;


}

.image-content .image .info .skills,
.image-content .video .info .skills {

    display: flex;
    gap: 8px;
    width: 100%;

}

.image-content .image .info button,
.image-content .video .info button {
    border: 1px solid #4a4945;
    background-color: transparent;
    border-radius: 20px;
    padding: 7px 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content .image .info button:hover,
.image-content .video .info button:hover {
    cursor: pointer;
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }

}


.container-lower h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}



.cards .cc {
    height: 220px;
    box-shadow: none;
    position: relative;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 12px;
    border-radius: 12px;
}

.cards-container {
    padding: 0 72px;
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

}  

.cards .cc::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 400ms ease-in;

}

.cc:hover::after {
    background-color: #3d3d4e26;
    height: 60px;
    width: 100%;
}

.logos .bookmark,
.logos .like {
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cc .logos {
    gap: 10px;

}

.cc .username {
    width: 60%;
    color: white;
    font-size: 1.3rem;
    z-index: 1;
}

.cc .logos,
.cc .username {
    display: flex;
}



.card-info {
    display: none;
    transition: display 400ms ease-in;
}
.cc:hover{
    cursor: pointer;

}
.cc:hover .card-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
}

.likesandviews img:first-child:hover{
    cursor: pointer;
}
.likes, .views{
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.likesandviews{
    width: 45%;
    display: flex;
    justify-content: space-around;

}


.user-photo{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: center;
}

.user-photo img {
    height: 20px;
    width: 20px;
    background-position: 0 0;
    background-size: cover;
    border-radius: 50%;
}


.more-inspiration{
    margin-top: 2.7rem;
    text-align: center;
}

.more-inspiration span{
    font-size: 0.9rem;
    border: 2px solid;
    padding: 1rem 2rem;
    border-radius: 60px;
}

.final-container{
    margin-top: 10rem;
    width: 100%;
    height: 45rem;
    background-color: #ffda79;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-final h1{
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    line-height: 0.9;
}
.center-final p{
    width: 80%;
    text-align: center;
    line-height: 1.6;
    font-size: 1.3rem;
}


.final-container .center-final{
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:45px;
    align-items: center;justify-content: center;
}

.center-final .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap:30px;
}

.button-container button:first-child{
    background-color: black;
padding: 20px 30px;
border-radius: 30px;
border: none;
color:white;
font-size: 15px;
cursor: pointer;
font-weight: 600;
transition: background-color 0.8s ease;
}
.button-container button:last-child{
    background-color: rgb(255, 255, 255);
padding: 20px 30px;
border-radius: 30px;
border: none;
color:rgb(0, 0, 0);
font-size: 15px;
cursor: pointer;
font-weight: 600;
transition: background-color 0.8s ease;

}

.button-container button:first-child:hover{
    background-color: #4a4945;
}


.button-container button:last-child:hover{
color: #676774;
}

.center-final span{
    width: 80%;
    text-align: center;
    line-height: 1.6;
    font-size: 1.3rem;
}
footer{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.center-final a{
color:black;
}

.upper-footer{
    margin-top: 5rem;
    display: flex;
    width: 75%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.upper-footer .footer-info{
    width: 60%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    justify-content: space-between;
}

.footer-contacts{
    font-size:1.4rem;
}

.lower-footer{
margin: 5rem 0px;
width: 75%;
display: flex;
align-items: center;
justify-content: space-between;
}

.lower-footer .right,.lower-footer .left{
    display: flex;
    gap:1.6rem;
    font-weight: 100;
    font-size: 1rem;
color:#6e6d7a;
}